* @ROCm/gpu-operator
# Documentation files
docs/ @ROCm/gpu-operator

docs/ @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
.readthedocs.yaml @ROCm/rocm-documentation
