/bin/
/manager
*.tgz
/*gpu-operator*.tgz
/helm-charts-k8s/charts/*.tgz
*.out

# node app for e2e test
id_rsa*
nodeapp

# Sphinx documentation
_build/
.venv/

.job.yml
branch_policy.yml
dev.env
box.rb
entrypoint.sh
asset-build/*
ci-internal/*
devops/*
tests/jobs/*
tests/pytests/*

.cline_storage
.vscode
branch_policy.yml
tools-internal/*
CLAUDE.md
.claude/*
.copilot/*
