apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../manager-base

images:
- name: controller
  newName: registry.test.pensando.io:5000/gpu-operator
  newTag: dev

configMapGenerator:
- files:
  - controller_manager_config.yaml
  name: manager-config

generatorOptions:
  disableNameSuffixHash: true
