controller:
  image: "quay.io/argoproj/workflow-controller:v3.6.5"
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          preference:
            matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: Exists
  nodeSelector: {}