---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.0
  name: remediationworkflowstatuses.amd.com
spec:
  group: amd.com
  names:
    kind: RemediationWorkflowStatus
    listKind: RemediationWorkflowStatusList
    plural: remediationworkflowstatuses
    shortNames:
    - rwfstatus
    singular: remediationworkflowstatus
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          RemediationWorkflowStatus keeps a record of recent remediation workflow runs.
          We maintain this information to avoid re-running remediation workflows on nodes where a pre-defined threshold is crossed.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          status:
            additionalProperties:
              additionalProperties:
                items:
                  properties:
                    name:
                      type: string
                    startTime:
                      type: string
                  type: object
                type: array
              type: object
            description: |-
              Status field holds remediation workflow run history for each node and node condition
              Key is node name. Value is a map with key as node condition and value as list of workflow metadata(workflow name and it's start time)
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
